.ant-modal.cus-modal {
    .ant-modal-content {
        padding: 2rem 2.25rem;
        background: #121212;
        border-radius: 2rem;
        border: 1px solid #353535;
        .ant-modal-body {
            .close {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 1rem;
                > svg {
                    width: 3rem;
                    height: 3rem;
                    cursor: pointer;
                }
            }
        }
    }
}
