@font-face {
  font-family: "lota-regular";
  src: url("@/theme/fonts/lotagrotesquealt3-regular.otf");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "abc-regular";
  src: url("@/theme/fonts/ABCMaxiSharp-Regular.otf");
  font-weight: regular;
  font-style: normal;
}
